@keyframes appearFromLeft {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

@keyframes fadeInFromTop {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1
    }
}

@keyframes fadeInFromBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1
    }
}

@keyframes fadeInFromRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1
    }
}

@keyframes growByFlex {
    100% {
        flex-grow: 2;
    }
}

@keyframes rotateCircle {
    0% {
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* home */

/* ref: https://css-tricks.com/snippets/css/typewriter-effect/ */
.greeting {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    animation-name: appearFromLeft;
    animation-duration: 2s;
    animation-timing-function: steps(12, end);
    /* stop by each word */
    animation-fill-mode: both;
}

.subGreeting {
    animation-name: fadeInFromBottom;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

.greeter {
    animation-name: rotateCircle;
    animation-delay: 2s;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.nav-bar {
    animation-name: fadeInFromTop;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: both;
}

footer {
    animation-name: fadeInFromBottom;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: both;
}


@keyframes shrink {
    0% {
        height: 100vh;
    }
    100% {
        height: 40vh;
    }
}
.fullscroll:first-child {
    height: 100vh;

    animation-name: shrink;
    animation-delay: 3s;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.fullscroll:nth-child(n+2) {
    opacity: 0;

    animation-name: fadeInFromBottom;
    animation-delay: 4s;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

/* code box */
.code.grow:hover {
    flex-shrink: 0;
    color: black;
    animation: growByFlex 500ms ease-out forwards;
}

/* project */
@keyframes gridGrowHeight {
    0% {
        height: calc(100vh/3);
    }
    100% {
        height: calc(100vh/3 * 2);
    }
}
.project:hover {
    position: relative;
    color: white;
    background-color: cornflowerblue;
    /* grid-row: span 2; */
    animation: gridGrowHeight 1s ease-out both;
}
