:root {
  --navbarh: 45px;
  --container-horizontal-padding: 10%
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: orangered;
}
::-webkit-scrollbar-thumb {
  background: aquamarine;
  border-radius: 10px;
}

html * {
  font-family: system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-image: linear-gradient(to bottom right, orangered, orange);
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

footer a:link,
footer a:visited {
  color: orangered;
  background-color: transparent;
  text-decoration: none;
}

h1 {
  font-weight: bold;
  font-size: xx-large;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  text-align: center;
  border-bottom: 3px solid orangered;
}

h3 {
  margin: 10px 0px;
}

/* full height scroll. ref: https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-snap-type#examples*/
.container {
  height: 100vh;
  position: relative;
  overflow-y: auto;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  margin: 0px;
}

.fullscroll {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  scroll-snap-align: center;
}

#project.fullscroll {
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.fullscroll {
  align-items: flex-starts;
  background-color: coral;
  color: #2f2f2f;
  padding: 0 var(--container-horizontal-padding);
}

.fullscroll:first-child {
  align-items: center;
  background-color: transparent;
  color: white;
  padding: 0px;
}

.fullscroll:nth-child(2n) {
  background-color: #2f2f2f;
  color: ghostwhite;
}

content {
  padding: var(--navbarh);
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* nav */
.nav-bar {
  background-color: black;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  height: var(--navbarh);
  box-shadow: 0px 3px 3px black;
  padding: 0px 10px 0px 10px;
  z-index: 100;
}

.nav-bar a {
  display: inline-block;
  /*important for vertical inline align*/
  font-size: large;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 10px;
}

.nav-bar a:visited a:link {
  color: white;
  background-color: black;
}

.nav-bar a:hover {
  background-color: grey;
  color: white;
  text-shadow: 0px 0px;
  border-bottom: 1px solid black;
}

.nav-bar a:active {
  opacity: 0.3;
  color: white;
  text-shadow: 0px 0px;
}

/* menu */
.nav-bar>#nav-check {
  display: none;
}

.nav-bar>.dropdown-menu {
  position: inline;
}

/* css menu: ref: https://codepen.io/jo_Geek/pen/xgbaEr*/
@media (max-width:640px) {
  .nav-bar {
    overflow: visible;
    padding: 0px 10px 0px 0px;
  }

  .nav-header {
    flex: 1;
    display: flex;
  }

  .nav-header>a {
    flex: 1;
    text-align: start;
  }

  /* draw menu button */
  .nav-bar>.nav-btn {
    display: inline-block;
    /* position: absolute;
    right: 0px;
    top: 0px; */

    width: calc(var(--navbarh) - 20px);
    height: calc(var(--navbarh) - 20px);
    padding: 10px;
  }

  .nav-bar>.nav-btn>label>span {
    display: block;
    width: calc(var(--navbarh) - 20px);
    height: calc((var(--navbarh) - 20px) / 3);
    border-top: 2px solid white;
  }

  .nav-bar>#nav-check:not(:checked)~.nav-btn {
    opacity: 1;
  }

  .nav-bar>.nav-btn:hover,
  .nav-bar>#nav-check:checked~.nav-btn {
    background-color: gray;
    opacity: 0.9;
  }

  /* draw menu */
  .nav-bar>.dropdown-menu {
    position: absolute;
    display: block;
    width: 100%;
    background-color: gray;
    opacity: 0.9;
    transition: all 0.3s ease-in;
    top: var(--navbarh);
    left: 0px;
  }

  .nav-bar>.dropdown-menu>a {
    display: block;
    width: 100%;
    text-align: start;
  }

  .nav-bar>#nav-check:not(:checked)~.dropdown-menu {
    height: 0px;
    overflow-y: hidden;
  }

  .nav-bar>#nav-check:checked~.dropdown-menu {
    height: calc(100vh - var(--navbarh));
    overflow-y: auto;
    overflow-x: hidden;
  }
}

/* skill set */
.codebox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.code {
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 2px 2px black;
  background-color: orange;
  color: white;
  margin: 2px 5px;
  flex-grow: 1;
  flex-shrink: 1;
}

.code-holder {
  flex-grow: 2;
  flex-shrink: 1;
}

/* project */
.projectbox {
  flex-grow: 1;
  overflow-y: auto;
  display: grid;
  width: 100%;
  /*  if use center, the first item not shown or partially hidden: https://dev.to/martinratinaud/centering-flex-items-with-overflow-40j0
  justify-items: center;
  justify-content: center; 
  */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fill, minmax(calc(100vw/4), 1fr));
  gap: 10px;
}

.project {
  border: 2px solid orangered;
  border-radius: 10px;
  box-shadow: 5px 2px 2px black;
  padding: 10px;
  height: calc(100%/1.25);
  width: calc(100vw /5);
  background-color: rgba(255, 250, 240, 0.8); /* floralwhite */
  overflow-x: hidden;
  overflow-y: auto;
  scroll-snap-type: x mandatory;
  /* Optional: Enable scroll snapping */
  scroll-behavior: smooth;
  /* Optional: Smooth scrolling behavior */
}

.projectimg {
  width: 100%;
  height: 20%;
  /* {4}x2x2 */
  object-fit: cover;
}

@media (max-width:1280px) {
  .projectbox {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, minmax(calc(100vw/4 + 25px), 1fr));
  }

  .project {
    height: calc(100vw /4);
    width: calc(100vw /4 + 25px);
  }
}

@media (max-width:768px) {
  .projectbox {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(calc(100vw/2 + 25px), 1fr));
  }

  .project {
    height: calc(100vw /2);
    width: calc(100vw /2);
  }
}

/* contact */
.contactbox {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding: 20px 10px;
  background-image: linear-gradient(to bottom right, white, blanchedalmond, white);
  border: 3px solid orange;
  box-shadow: 5px 2px 2px black;
  color: black;
  text-align: center;
}

.contactbox-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactbox-left img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.contactbox table {
  flex: 2;
  align-self: center;
  margin: 0px auto;
  text-align: left;
  width: 100%;
  height: fit-content;
  padding: 10px;
}

.contactbox .icon {
  display: block;
  width: 25px;
  height: 25px;
}

@media (max-width:640px) {
  .contactbox {
    width: 90%;
  }
}